.create-contest-container {
    padding: 24px;
  }
  
  .create-contest-paper {
    padding: 24px;
    margin-top: 24px;
  }
  
  .form-title {
    margin-bottom: 24px !important;
    color: #333;
  }
  
  .contest-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .submit-button {
    margin-top: 24px !important;
  }
  